.password-strength-progress {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.progress-bar {
  margin: 10px 10px 0 10px;
  height: 5px;
  width: 60px;
  background-color: gray;
  transition: all 0.2s ease-in;
}
.progress-bar:first-child {
  margin: 10px 10px 0 0;
}
.progress-bar:last-child {
  margin: 10px 0px 0 10px;
}
.progress-bar.short {
  background-color: red;
}
.progress-bar.weak {
  background-color: orange;
}
.progress-bar.normal {
  background-color: greenyellow;
}
.progress-bar.strong {
  background-color: green;
}
