.board-on-table-container {
  min-height: 170px;
  transition: all 0.2s ease-in;
}
.board-on-table {
  width: 200px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 15px;
  margin: 15px;
  cursor: pointer;
  p {
    margin: 5px;
    padding: 10px;
    color: #000;
  }
}
.board-on-table-container:hover .btn-delete {
    opacity: 1;
  }
a {
  text-decoration: none;
}
.btn-container {
  padding: 20px;
  .add-list {
      box-sizing: border-box;
      font-size: 35px;
      cursor: pointer;
      padding: 5px 15px;
      border-radius: 50%;
      border: none;
      transition: all 0.2s ease-in;
      &:hover {
          outline: 2px solid rgba(115, 113, 252, 0.651);
          transform: rotate(90deg);
      }
  }
}
.btn-delete {
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color:rgb(247, 76, 9);
  border: none;
  width: 30px;
  height: 30px;
  font-size: 25px;
  position: relative;
  top:-75%;
  left: 85%;
  transition: all 0.2s ease-in;
  &:hover {
    transform: rotate(135deg);
  }
}