.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.table-board {
  display: grid;
  max-width: 70%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: center;
  align-self: center;
  font-size: 18px;
}
.table-name {
  text-align: center;
  font-size: 25px;
}
