@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$main-font: 'Comfortaa', cursive;

.list {
    font-family: $main-font;
    margin: 0 15px 0 15px;
    min-width: 450px;
    min-height: 300px;
    background-color: rgba(216, 204, 204, 0.623);
    border-radius: 8px;
}
h2 {
    padding-left: 20px;
}
.list-title-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    background-color: rgba(116, 226, 175, 0.623);
}
.list-name-input {
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    margin: 8px;
}
.btn-container {
    text-align: right;
    padding: 5px;
    .add-list {
        box-sizing: border-box;
        font-size: 25px;
        cursor: pointer;
        padding: 5px 15px;
        border-radius: 50%;
        border: none;
        &:hover {
            border: 2px solid rgba(115, 113, 252, 0.651);
        }
    }
}
.error {
    border: 2px solid red;
}
.card {
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: rgba(105, 211, 0, 0.377);
  }
.slot {
    @extend .card;
    background-color: gray;
    color: transparent;
  }
.slot::after {
    
}