.list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 15px 0 15px;
  width: 450px;
  min-height: 50px;
  background-color: rgba(216, 204, 204, 0.623);
  border-radius: 8px;
  word-wrap: break-word;
  overflow: hidden;
  .add-item-container {
    position: relative;
    z-index: 25;
  }

  .list-title-container {
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    background-color: rgba(116, 226, 175, 0.623);
    height: 75px;
    transition: all 0.2s ease-in;
    &:hover .list-btn-delete {
      opacity: 1;
    }
    h2 {
      padding-left: 20px;
    }
    .list-name-input {
      border-radius: 10px;
      font-size: 24px;
      font-weight: bold;
      padding: 10px;
      margin: 8px;
    }
  }

  .error {
    border: 2px solid red;
  }
  .list-item-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: inherit;

    .card {
      position: relative;
      z-index: 150;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 10px;
      background-color: rgba(105, 211, 0, 0.377);
      min-height: 50px;
      position: relative;
    }

    .slot {
      @extend .card;
      background-color: gray;
      color: transparent;
    }
    .hidden-card {
      display: none;
    }
    .slot-before::before {
      display: block;
      position: absolute;
      content: '';
      background-color: gray;
      margin: 10px 0 10px 0;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 70px;
    }
    .card-top {
      transform: translateY(calc(100% + 10px));
      margin-bottom: 90px;
    }
    .last {
      position: absolute;
      z-index: 50;
      padding: 0;
      color: transparent;
      background-color: transparent;
      width: 450px;
      height: 100%;
    }
  }
  .list-btn-delete {
    opacity: 0;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    width: 30px;
    height: 30px;
    top: -90%;
    left: 92%;
    border-radius: 50%;
    border: none;
    transition: all 0.2s ease-in;
    transform: rotate(45deg);
    background-color: transparent;
    &:hover {
      transform: rotate(135deg);
      background-color: rgb(247, 76, 9);
    }
  }
}
