.progressBar-container {
  display: flex;
  height: 100px;
  width: 350px;
  background-color: rgba(224, 229, 231, 0.767);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$main-font: 'Comfortaa', cursive;

.progressBar-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progressBar-bg {
  border-radius: 20px;
  background-color: #e0e0de;
  height: 20px;
  width: 250px;
}
.progressBar-filler {
  height: 100%;
  background-color: #026e99;
  border-radius: inherit;
  transition: 0.5s ease;
  transition-delay: 0.1s;
}
.progressBar-name {
  font-family: $main-font;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}