@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$main-font: 'Comfortaa', cursive;

* {
  font-family: $main-font;
}
a {
  text-decoration: none;
}
.gray-background-box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: grey;
  opacity: 0.5;
  display: block;
  z-index: 500;
}
